In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.ensemble import StackingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
data=pd.read_csv('DatasetBalanced.csv')
data=data.loc[:,['O2Sat', 'SBP','DBP','EtCO2','Temp','HR','Resp','PaCO2','SaO2','FiO2','Platelets','Bilirubin_direct','MAP','Creatinine','Age','SepsisLabel']]
data

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,Platelets,Bilirubin_direct,MAP,Creatinine,Age,SepsisLabel
0,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,68.540000,0
1,100.000000,122.392746,62.218458,33.385834,37.003726,65.000000,16.500000,41.129295,91.820606,0.400000,197.613414,2.427547,72.000000,1.459667,68.540000,0
2,100.000000,122.392746,62.218458,33.385834,37.003726,78.000000,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,42.500000,1.459667,68.540000,0
3,100.000000,122.392746,62.218458,33.385834,37.003726,73.000000,17.000000,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,68.540000,0
4,100.000000,129.000000,69.000000,33.385834,37.003726,70.000000,14.000000,41.129295,91.820606,0.400000,330.000000,2.427547,74.000000,0.800000,68.540000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055529,98.505335,107.163695,43.846975,33.385834,37.206679,59.519585,14.226871,41.129295,91.820606,0.500000,197.613414,2.427547,60.846975,1.459667,51.370000,1
2055530,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,76.880000,1
2055531,100.000000,78.717245,62.218458,33.385834,37.003726,76.572415,23.000000,41.129295,91.820606,0.559317,197.613414,2.427547,48.549547,1.459667,38.220000,1
2055532,95.961946,100.404864,61.297568,33.385834,36.375983,91.968813,19.980973,41.129295,91.820606,0.530787,197.613414,2.427547,76.000000,1.459667,43.450000,1
2055533,96.211839,122.392746,62.218458,33.385834,37.003726,74.219095,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,67.379357,1

In [3]:
x = data.drop(["SepsisLabel"], axis = 1)
y = data.SepsisLabel.values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
results = x_test
results['Actual_Output'] = y_test
results

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,Platelets,Bilirubin_direct,MAP,Creatinine,Age,Actual_Output
499008,97.000000,113.000000,51.000000,33.385834,37.003726,80.000000,23.000000,41.129295,91.820606,0.559317,197.613414,2.427547,71.000000,1.459667,77.16,0
1006910,99.000000,154.000000,82.000000,33.385834,37.003726,94.000000,12.000000,41.129295,91.820606,0.559317,197.613414,2.427547,103.000000,1.459667,87.00,0
459829,100.000000,138.000000,62.218458,33.385834,37.003726,72.000000,36.000000,41.129295,91.820606,0.559317,197.613414,2.427547,77.000000,1.459667,87.58,0
920753,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,78.00,0
375141,100.000000,124.000000,67.000000,33.385834,37.830000,107.000000,14.500000,41.129295,91.820606,0.500000,197.613414,2.427547,88.000000,1.459667,63.34,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894274,98.000000,238.000000,138.000000,33.385834,37.003726,76.000000,20.000000,41.129295,91.820606,0.559317,197.613414,2.427547,164.000000,1.459667,28.00,0
558601,96.000000,122.392746,62.218458,33.385834,37.003726,48.000000,11.000000,41.129295,91.820606,0.559317,197.613414,2.427547,86.000000,1.459667,73.88,0
863494,96.000000,142.000000,58.000000,33.385834,37.003726,74.000000,22.000000,41.129295,91.820606,0.559317,197.613414,2.427547,88.000000,1.459667,77.00,0
1674463,98.019650,133.983139,71.860610,33.385834,37.003726,63.139693,19.681188,40.521538,91.820606,0.530969,197.613414,2.427547,87.691530,1.585350,82.74,1
2041130,96.442732,160.229071,83.164098,33.385834,37.003726,93.442732,22.721366,38.864198,91.820606,0.559317,197.613414,2.427547,111.557268,1.459667,83.32,1

## SIRS Definition model

In [4]:
def SIRS(data):
    temp = list(data.Temp)
    hr =  list(data.HR)
    resp =  list(data.Resp)
    co2 = list(data.PaCO2)
    output=[]
    for i in range(0,len(data)):
        tally = 0
        if(temp[i]>38 or temp[i]<36):
            tally +=1
        if(hr[i]>90):
            tally+=1
        if(resp[i]>20):
            tally+=1
        if(co2[i]>32):
            tally+=1
        if(tally>=2):
            output.append(1)
        else:
            output.append(0)
    return output
results['SIRS_Output']=SIRS(x_test)
results

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,Platelets,Bilirubin_direct,MAP,Creatinine,Age,Actual_Output,SIRS_Output
499008,97.000000,113.000000,51.000000,33.385834,37.003726,80.000000,23.000000,41.129295,91.820606,0.559317,197.613414,2.427547,71.000000,1.459667,77.16,0,1
1006910,99.000000,154.000000,82.000000,33.385834,37.003726,94.000000,12.000000,41.129295,91.820606,0.559317,197.613414,2.427547,103.000000,1.459667,87.00,0,1
459829,100.000000,138.000000,62.218458,33.385834,37.003726,72.000000,36.000000,41.129295,91.820606,0.559317,197.613414,2.427547,77.000000,1.459667,87.58,0,1
920753,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,78.00,0,0
375141,100.000000,124.000000,67.000000,33.385834,37.830000,107.000000,14.500000,41.129295,91.820606,0.500000,197.613414,2.427547,88.000000,1.459667,63.34,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894274,98.000000,238.000000,138.000000,33.385834,37.003726,76.000000,20.000000,41.129295,91.820606,0.559317,197.613414,2.427547,164.000000,1.459667,28.00,0,0
558601,96.000000,122.392746,62.218458,33.385834,37.003726,48.000000,11.000000,41.129295,91.820606,0.559317,197.613414,2.427547,86.000000,1.459667,73.88,0,0
863494,96.000000,142.000000,58.000000,33.385834,37.003726,74.000000,22.000000,41.129295,91.820606,0.559317,197.613414,2.427547,88.000000,1.459667,77.00,0,1
1674463,98.019650,133.983139,71.860610,33.385834,37.003726,63.139693,19.681188,40.521538,91.820606,0.530969,197.613414,2.427547,87.691530,1.585350,82.74,1,0
2041130,96.442732,160.229071,83.164098,33.385834,37.003726,93.442732,22.721366,38.864198,91.820606,0.559317,197.613414,2.427547,111.557268,1.459667,83.32,1,1

## Decision Tree

In [5]:
Dtree = DecisionTreeClassifier(criterion = 'entropy')
imp_x_train = x_train.loc[:,['O2Sat', 'SBP','DBP','Temp','HR','Resp','FiO2','Platelets','Bilirubin_direct','Age']]
imp_x_test = x_test.loc[:,['O2Sat', 'SBP','DBP','Temp','HR','Resp','FiO2','Platelets','Bilirubin_direct','Age']]
Dtree.fit(imp_x_train,y_train)
dty_pred = Dtree.predict(imp_x_test)
results['IMP_Decision_Tree_Output'] = dty_pred
results

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,Platelets,Bilirubin_direct,MAP,Creatinine,Age,Actual_Output,SIRS_Output,IMP_Decision_Tree_Output
499008,97.000000,113.000000,51.000000,33.385834,37.003726,80.000000,23.000000,41.129295,91.820606,0.559317,197.613414,2.427547,71.000000,1.459667,77.16,0,1,0
1006910,99.000000,154.000000,82.000000,33.385834,37.003726,94.000000,12.000000,41.129295,91.820606,0.559317,197.613414,2.427547,103.000000,1.459667,87.00,0,1,0
459829,100.000000,138.000000,62.218458,33.385834,37.003726,72.000000,36.000000,41.129295,91.820606,0.559317,197.613414,2.427547,77.000000,1.459667,87.58,0,1,0
920753,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,78.00,0,0,0
375141,100.000000,124.000000,67.000000,33.385834,37.830000,107.000000,14.500000,41.129295,91.820606,0.500000,197.613414,2.427547,88.000000,1.459667,63.34,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894274,98.000000,238.000000,138.000000,33.385834,37.003726,76.000000,20.000000,41.129295,91.820606,0.559317,197.613414,2.427547,164.000000,1.459667,28.00,0,0,0
558601,96.000000,122.392746,62.218458,33.385834,37.003726,48.000000,11.000000,41.129295,91.820606,0.559317,197.613414,2.427547,86.000000,1.459667,73.88,0,0,0
863494,96.000000,142.000000,58.000000,33.385834,37.003726,74.000000,22.000000,41.129295,91.820606,0.559317,197.613414,2.427547,88.000000,1.459667,77.00,0,1,0
1674463,98.019650,133.983139,71.860610,33.385834,37.003726,63.139693,19.681188,40.521538,91.820606,0.530969,197.613414,2.427547,87.691530,1.585350,82.74,1,0,1
2041130,96.442732,160.229071,83.164098,33.385834,37.003726,93.442732,22.721366,38.864198,91.820606,0.559317,197.613414,2.427547,111.557268,1.459667,83.32,1,1,1

In [6]:
x_test = x_test.drop(["Actual_Output","SIRS_Output","IMP_Decision_Tree_Output"], axis=1)
x_test

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,Platelets,Bilirubin_direct,MAP,Creatinine,Age
499008,97.000000,113.000000,51.000000,33.385834,37.003726,80.000000,23.000000,41.129295,91.820606,0.559317,197.613414,2.427547,71.000000,1.459667,77.16
1006910,99.000000,154.000000,82.000000,33.385834,37.003726,94.000000,12.000000,41.129295,91.820606,0.559317,197.613414,2.427547,103.000000,1.459667,87.00
459829,100.000000,138.000000,62.218458,33.385834,37.003726,72.000000,36.000000,41.129295,91.820606,0.559317,197.613414,2.427547,77.000000,1.459667,87.58
920753,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,78.00
375141,100.000000,124.000000,67.000000,33.385834,37.830000,107.000000,14.500000,41.129295,91.820606,0.500000,197.613414,2.427547,88.000000,1.459667,63.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894274,98.000000,238.000000,138.000000,33.385834,37.003726,76.000000,20.000000,41.129295,91.820606,0.559317,197.613414,2.427547,164.000000,1.459667,28.00
558601,96.000000,122.392746,62.218458,33.385834,37.003726,48.000000,11.000000,41.129295,91.820606,0.559317,197.613414,2.427547,86.000000,1.459667,73.88
863494,96.000000,142.000000,58.000000,33.385834,37.003726,74.000000,22.000000,41.129295,91.820606,0.559317,197.613414,2.427547,88.000000,1.459667,77.00
1674463,98.019650,133.983139,71.860610,33.385834,37.003726,63.139693,19.681188,40.521538,91.820606,0.530969,197.613414,2.427547,87.691530,1.585350,82.74
2041130,96.442732,160.229071,83.164098,33.385834,37.003726,93.442732,22.721366,38.864198,91.820606,0.559317,197.613414,2.427547,111.557268,1.459667,83.32

## Random Forest

In [8]:
reg_rf = RandomForestClassifier()
reg_rf.fit(x_train, y_train),
rfy_pred = reg_rf.predict(x_test)
results['Random_Forest_Output'] = rfy_pred
results

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,Platelets,Bilirubin_direct,MAP,Creatinine,Age,Actual_Output,SIRS_Output,IMP_Decision_Tree_Output,Random_Forest_Output
499008,97.000000,113.000000,51.000000,33.385834,37.003726,80.000000,23.000000,41.129295,91.820606,0.559317,197.613414,2.427547,71.000000,1.459667,77.16,0,1,0,0
1006910,99.000000,154.000000,82.000000,33.385834,37.003726,94.000000,12.000000,41.129295,91.820606,0.559317,197.613414,2.427547,103.000000,1.459667,87.00,0,1,0,0
459829,100.000000,138.000000,62.218458,33.385834,37.003726,72.000000,36.000000,41.129295,91.820606,0.559317,197.613414,2.427547,77.000000,1.459667,87.58,0,1,0,0
920753,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,197.613414,2.427547,80.578177,1.459667,78.00,0,0,0,0
375141,100.000000,124.000000,67.000000,33.385834,37.830000,107.000000,14.500000,41.129295,91.820606,0.500000,197.613414,2.427547,88.000000,1.459667,63.34,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894274,98.000000,238.000000,138.000000,33.385834,37.003726,76.000000,20.000000,41.129295,91.820606,0.559317,197.613414,2.427547,164.000000,1.459667,28.00,0,0,0,0
558601,96.000000,122.392746,62.218458,33.385834,37.003726,48.000000,11.000000,41.129295,91.820606,0.559317,197.613414,2.427547,86.000000,1.459667,73.88,0,0,0,0
863494,96.000000,142.000000,58.000000,33.385834,37.003726,74.000000,22.000000,41.129295,91.820606,0.559317,197.613414,2.427547,88.000000,1.459667,77.00,0,1,0,0
1674463,98.019650,133.983139,71.860610,33.385834,37.003726,63.139693,19.681188,40.521538,91.820606,0.530969,197.613414,2.427547,87.691530,1.585350,82.74,1,0,1,1
2041130,96.442732,160.229071,83.164098,33.385834,37.003726,93.442732,22.721366,38.864198,91.820606,0.559317,197.613414,2.427547,111.557268,1.459667,83.32,1,1,1,1

## SOFA

In [28]:
temp = list(x_test.Temp)
hr =  list(x_test.HR)
resp =  list(x_test.Resp)
co2 = list(x_test.PaCO2)
FiO2 = list(x_test.FiO2)
SaO2 = list(x_test.SaO2)
Platelets =  list(x_test.Platelets)
Bilirubin_direct =  list(x_test.Bilirubin_direct)
MAP = list(x_test.MAP)
Creatinine = list(x_test.Creatinine)

In [29]:
import warnings
warnings.filterwarnings('ignore') 
results = results.assign(SOFA_Output=1)

for j in range(0,len(y_test)):
    tally = 0   
    if(FiO2[j]!=0):
        #For criteria 1
        c1 = SaO2[j]/FiO2[j]
        if(c1>300):
            tally +=0
        elif(c1>=221):
            tally +=1
        elif(c1>=142):
            tally +=2
        elif(c1>=67):
            tally +=3
        else:
            tally +=4

        #For criteria 2
        c2=Platelets[j]
        if(c2>=150):
            tally +=0
        elif(c2>=100):
            tally +=1
        elif(c2>=50):
            tally +=2
        elif(c2>=20):
            tally +=3
        else:
            tally +=4

        #For criteria 3
        c3=Bilirubin_direct[j]
        if(c3<1.2):
            tally +=0
        elif(c3<=1.9):
            tally +=1
        elif(c3<=5.9):
            tally +=2
        elif(c3<=11.9):
            tally +=3
        else:
            tally +=4

        #For criteria 4
        c4=MAP[j]
        if(c4>70):
            tally +=0
        else:
            tally +=1

        #For criteria 6
        c6=Creatinine[j]
        if(c6<1.2):
            tally +=0
        elif(c6<=1.9):
            tally +=1
        elif(c6<=3.4):
            tally +=2
        elif(c6<=4.9):
            tally +=3
        else:
            tally +=4
        
        if(tally>=7):
            results.SOFA_Output[j]=1
        else:
            results.SOFA_Output[j]=0

In [32]:
def SOFA(data):
    FiO2 = list(data.FiO2)
    SaO2 = list(data.SaO2)
    Platelets =  list(data.Platelets)
    Bilirubin_direct =  list(data.Bilirubin_direct)
    MAP = list(data.MAP)
    Creatinine = list(data.Creatinine)
    import warnings
    warnings.filterwarnings('ignore') 
    data = data.assign(SOFA_Output=1)

    for j in range(0,len(data)):
        tally = 0   
        if(FiO2[j]!=0):
            #For criteria 1
            c1 = SaO2[j]/FiO2[j]
            if(c1>300):
                tally +=0
            elif(c1>=221):
                tally +=1
            elif(c1>=142):
                tally +=2
            elif(c1>=67):
                tally +=3
            else:
                tally +=4

            #For criteria 2
            c2=Platelets[j]
            if(c2>=150):
                tally +=0
            elif(c2>=100):
                tally +=1
            elif(c2>=50):
                tally +=2
            elif(c2>=20):
                tally +=3
            else:
                tally +=4

            #For criteria 3
            c3=Bilirubin_direct[j]
            if(c3<1.2):
                tally +=0
            elif(c3<=1.9):
                tally +=1
            elif(c3<=5.9):
                tally +=2
            elif(c3<=11.9):
                tally +=3
            else:
                tally +=4

            #For criteria 4
            c4=MAP[j]
            if(c4>70):
                tally +=0
            else:
                tally +=1

            #For criteria 6
            c6=Creatinine[j]
            if(c6<1.2):
                tally +=0
            elif(c6<=1.9):
                tally +=1
            elif(c6<=3.4):
                tally +=2
            elif(c6<=4.9):
                tally +=3
            else:
                tally +=4

            if(tally>=7):
                data.SOFA_Output[j]=1
            else:
                data.SOFA_Output[j]=0
    return list(data.SOFA_Output)

## COMBINED MODEL

## Blending

In [35]:
from sklearn.linear_model import LogisticRegression

Output_x= results.loc[:,['SIRS_Output','Random_Forest_Output','IMP_Decision_Tree_Output','SOFA_Output']]
Output_y = results.Actual_Output   
x_val, x_test1, y_val, y_test1 = train_test_split(Output_x, Output_y, test_size = 0.3, random_state = 42)
model = LogisticRegression()
model.fit(x_val,y_val)

LogisticRegression()

In [39]:
x_test1 = results.loc[:,['SIRS_Output','Random_Forest_Output','IMP_Decision_Tree_Output','SOFA_Output']]
results['Output2']= model.predict(x_test1)
results

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,...,MAP,Creatinine,Age,Actual_Output,SIRS_Output,IMP_Decision_Tree_Output,Random_Forest_Output,SOFA_Output,Output1,Output2
499008,97.000000,113.000000,51.000000,33.385834,37.003726,80.000000,23.000000,41.129295,91.820606,0.559317,...,71.000000,1.459667,77.16,0,1,0,0,0,0,0
1006910,99.000000,154.000000,82.000000,33.385834,37.003726,94.000000,12.000000,41.129295,91.820606,0.559317,...,103.000000,1.459667,87.00,0,1,0,0,1,1,0
459829,100.000000,138.000000,62.218458,33.385834,37.003726,72.000000,36.000000,41.129295,91.820606,0.559317,...,77.000000,1.459667,87.58,0,1,0,0,0,0,0
920753,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,...,80.578177,1.459667,78.00,0,0,0,0,1,0,0
375141,100.000000,124.000000,67.000000,33.385834,37.830000,107.000000,14.500000,41.129295,91.820606,0.500000,...,88.000000,1.459667,63.34,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894274,98.000000,238.000000,138.000000,33.385834,37.003726,76.000000,20.000000,41.129295,91.820606,0.559317,...,164.000000,1.459667,28.00,0,0,0,0,1,0,0
558601,96.000000,122.392746,62.218458,33.385834,37.003726,48.000000,11.000000,41.129295,91.820606,0.559317,...,86.000000,1.459667,73.88,0,0,0,0,0,0,0
863494,96.000000,142.000000,58.000000,33.385834,37.003726,74.000000,22.000000,41.129295,91.820606,0.559317,...,88.000000,1.459667,77.00,0,1,0,0,1,1,0
1674463,98.019650,133.983139,71.860610,33.385834,37.003726,63.139693,19.681188,40.521538,91.820606,0.530969,...,87.691530,1.585350,82.74,1,0,1,1,1,0,1
2041130,96.442732,160.229071,83.164098,33.385834,37.003726,93.442732,22.721366,38.864198,91.820606,0.559317,...,111.557268,1.459667,83.32,1,1,1,1,1,1,1

## Max voting without SOFA

In [33]:
def Max_Voting(data):
    sirs= list(data.SIRS_Output)
    rf = list(data.Random_Forest_Output)
    dt = list(data.IMP_Decision_Tree_Output)
    sofa = list(data.SOFA_Output)
    count = []
    for j in range(0,len(data)):
        temp = sirs[j] + sofa[j]#+rf[j] + dt[j]
        if(temp>=2):
            count.append(1)
        else:
            count.append(0)
    return count
results['Output1'] = Max_Voting(results)
results

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,...,Bilirubin_direct,MAP,Creatinine,Age,Actual_Output,SIRS_Output,IMP_Decision_Tree_Output,Random_Forest_Output,SOFA_Output,Output1
499008,97.000000,113.000000,51.000000,33.385834,37.003726,80.000000,23.000000,41.129295,91.820606,0.559317,...,2.427547,71.000000,1.459667,77.16,0,1,0,0,0,0
1006910,99.000000,154.000000,82.000000,33.385834,37.003726,94.000000,12.000000,41.129295,91.820606,0.559317,...,2.427547,103.000000,1.459667,87.00,0,1,0,0,1,1
459829,100.000000,138.000000,62.218458,33.385834,37.003726,72.000000,36.000000,41.129295,91.820606,0.559317,...,2.427547,77.000000,1.459667,87.58,0,1,0,0,0,0
920753,97.228627,122.392746,62.218458,33.385834,37.003726,84.870313,18.754969,41.129295,91.820606,0.559317,...,2.427547,80.578177,1.459667,78.00,0,0,0,0,1,0
375141,100.000000,124.000000,67.000000,33.385834,37.830000,107.000000,14.500000,41.129295,91.820606,0.500000,...,2.427547,88.000000,1.459667,63.34,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894274,98.000000,238.000000,138.000000,33.385834,37.003726,76.000000,20.000000,41.129295,91.820606,0.559317,...,2.427547,164.000000,1.459667,28.00,0,0,0,0,1,0
558601,96.000000,122.392746,62.218458,33.385834,37.003726,48.000000,11.000000,41.129295,91.820606,0.559317,...,2.427547,86.000000,1.459667,73.88,0,0,0,0,0,0
863494,96.000000,142.000000,58.000000,33.385834,37.003726,74.000000,22.000000,41.129295,91.820606,0.559317,...,2.427547,88.000000,1.459667,77.00,0,1,0,0,1,1
1674463,98.019650,133.983139,71.860610,33.385834,37.003726,63.139693,19.681188,40.521538,91.820606,0.530969,...,2.427547,87.691530,1.585350,82.74,1,0,1,1,1,0
2041130,96.442732,160.229071,83.164098,33.385834,37.003726,93.442732,22.721366,38.864198,91.820606,0.559317,...,2.427547,111.557268,1.459667,83.32,1,1,1,1,1,1

## Interface

In [47]:
def read_input():
    n=int(input("Enter the number of patients "))
    Features = ['O2Sat', 'SBP','DBP','EtCO2','Temp','HR','Resp','PaCO2','SaO2','FiO2','Platelets','Bilirubin_direct','MAP','Creatinine','Age']
    record = []
    for i in range(1,n+1):
        rec=[]
        print(f'For patient {i}')
        for j in Features:
            rec.append(int(input(f'\t{j}: ')))
        record.append(rec)
    data = pd.DataFrame(record, columns=Features)
    return data

In [48]:
def predict_sepsis(data):
    data['SIRS_Output'] = SIRS(idata)
    data['SOFA_Output'] = SOFA(idata)
    rfdata = idata.loc[:,['O2Sat', 'SBP','DBP','EtCO2','Temp','HR','Resp','PaCO2','SaO2','FiO2','Platelets','Bilirubin_direct','MAP','Creatinine','Age']]
    data['Random_Forest_Output']=reg_rf.predict(rfdata)
    impdata = idata.loc[:,['O2Sat', 'SBP','DBP','Temp','HR','Resp','FiO2','Platelets','Bilirubin_direct','Age']]
    data['IMP_Decision_Tree_Output']= Dtree.predict(impdata)
    data['Voting_output'] = Max_Voting(data)
    val = data.loc[:,['SIRS_Output','Random_Forest_Output','IMP_Decision_Tree_Output','SOFA_Output']]
    data['Blending_ouput']= model.predict(val)
    return data

In [46]:
#Interface for geting prediction
idata = read_input()
idata
predict_sepsis(idata)

,O2Sat,SBP,DBP,EtCO2,Temp,HR,Resp,PaCO2,SaO2,FiO2,...,Bilirubin_direct,MAP,Creatinine,Age,SIRS_Output,SOFA_Output,Random_Forest_Output,IMP_Decision_Tree_Output,Voting_output,Blending_ouput
0,23,43,53,23,54,23,53,64,34,23,...,543,214,25,32,1,1,0,0,1,0
1,24,53,43,43,53,658,356,534,35,35,...,75,43,43,53,1,1,0,0,1,0